setuptools<81
pandas
pillow
opencv-python
tqdm
torch
tensorboardX
pyyaml
imageio
torchvision
matplotlib
torchinfo
timm
einops
pytorch-msssim
piq
torchmetrics[image]
h5py 
scipy
python-dotenv
gdown
thop
PyWavelets
pytorch_wavelets